#HyText-tooltip-wrap {
    background: rgb(255, 255, 255);
    overflow: auto;
    position: absolute;
    z-index: 1000000131;
    font-family: Tahoma, Arial, Ubuntu !important;
    font-size: 13px !important;
    line-height: normal !important;
    max-width: 500px; 
    max-height: 250px;
    min-width: 250px;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 60px 200px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #E7E9E7;
}

/* width */
#HyText-tooltip-wrap::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#HyText-tooltip-wrap::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
#HyText-tooltip-wrap::-webkit-scrollbar-thumb {
    background: #888; 
}